/* Font Setup */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
}

/* Shared styles */
.highlight {
  color: #e95a08;
}
.text-color {
  color: rgba(0, 0, 0, 0.5);
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.logo {
  width: 135px;
  height: 82px;
}

.nav-links {
  display: flex;
  gap: 20px;
  color: #8987a1;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
}

/* Banner */
.banner {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  height: 299px;
  margin-top: 162px;
  padding: 20px;
}

.banner-image img {
  width: 570px;
  height: 355px;
}

/* Our Plants */
.plants {
  text-align: center;
  padding: 30px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.plant-card {
  padding: 10px;
  text-align: center;
}

.add-cart {
  background-color: #e95a08;
  border: none;
  color: white;
  padding: 10px;
  width: 110px;
  cursor: pointer;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .navbar,
  .banner,
  .plants {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .nav-links li:not(.cart) {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: left;
  }

  .banner-text {
    height: 150px;
    margin-top: 162px;
    padding: 20px;
  }
  .banner-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
